/* 
	This is where our own custom CSS will live 
	in case we need to overwrite the CSS Framework we use

*/

body{
		background-color: #F14D4F;
      	/*background: url(../images/madgiph-bg-red.png) no-repeat center center fixed;*/
      	/*-webkit-background-size:cover;
      	-moz-background-size:cover;
      	-o-background-size:cover;
      	background-size:cover;*/
    } 

.header, .nav, .footer {
	text-align: center;
}

#author-input, #word-input {
	width: 25%;
}